{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png"}}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' class="icon icon_2 transparent" alt="{{ $t }}">
    <p>{{ $s.since }}&nbsp;{{ $t }},&nbsp;<a href='{{- .Site.Params.licenseUrl}}'>{{- .Site.Copyright}}</a><br><a href='{{ absURL "politica-de-privadesa/" }}'>Política de privadesa</a></p>
    {{- partialCached "top" .}}
  </div>
</footer>
